Customer Name: <b>{{customer.customerName}}</b><br>
Customer Number: <b>{{customer.customerNumber}}</b><br>
Customer Contact: <b>{{customer.contactLastName}}, {{customer.contactFirstName}}</b><br>
City, State Postal (Country): <b>{{customer.city}}, {{customer.state}} {{customer.postalCode}} ({{customer.country}})</b><br>
<a href="/orders/customerNumber/{{customer.customerNumber}}">Orders List</a>
<a href="./">Back</a>