<style>
    .div-table {
        display: table;
        width: auto;
        background-color: #eee;
        border: 1px solid #666666;
        border-spacing: 3px; /* cellspacing:poor IE support for  this */
    }

    .div-table-row {
        display: table-row;
        width: auto;
        clear: both;
    }

    .div-table-col {
        float: left; /* fix for  buggy browsers */
        display: table-column;
        width: auto;
        background-color: #fff;
        vertical-align: bottom;
        text-align: left;
    }
</style>

<div class="div-table">
    <div class="div-table-row">
        <div style="width: 65px;" class="div-table-col">Customer ID</div>
        <div style="width: 185px;"  class="div-table-col">Name</div>
        <div style="width: 75px;" class="div-table-col">City</div>
        <div style="width: 75px;" class="div-table-col">Country</div>
        <div style="width: 65px;" class="div-table-col">Credit Limit</div>
        <div style="width: 65px;" class="div-table-col">Sales Rep</div>
        <div style="width: 80px;" class="div-table-col"></div>
    </div>
    {{#each customerList}}
        <form action="/updateCustomer" method="post">
            <input type="hidden" name="customerNumber" value="{{customerNumber}}"/>
            <div class="div-table-row">
                <div style="width: 65px;" class="div-table-col"><a href="{{baseUrl}}/customers/{{customerNumber}}">{{customerNumber}}</a></div>
                <div style="width: 185px;" class="div-table-col"><input type="text" name="customerName" value="{{customerName}}"></div>
                <div style="width: 75px;" class="div-table-col">{{city}}</div>
                <div style="width: 75px;" class="div-table-col">{{country}}</div>
                <div style="width: 65px;" class="div-table-col">{{creditLimit}}</div>
                <div style="width: 65px;" class="div-table-col">{{salesRepEmployeeNumber}}</div>
                <div style="width: 80px;" class="div-table-col"><input type="submit" value="Update"/></div>
            </div>
        </form>
    {{/each}}
</div>

<!--<table>-->
<!--<tr>-->
<!--<th>Customer Number</th>-->
<!--<th>Name</th>-->
<!--<th>City</th>-->
<!--<th>Country</th>-->
<!--<th>Credit Limit</th>-->
<!--<th>SalesRep</th>-->
<!--</tr>-->
        <!--{{#each customerList}}-->
<!--<tr>-->
<!--<form action="/updateCustomer" method="post">-->
<!--<input type="hidden" name="customerNumber" value="{{customerNumber}}"/>-->
<!--<td align="center"><a href="{{baseUrl}}/customers/{{customerNumber}}">{{customerNumber}}</a></td>-->
<!--<td align="center"><input type="text" name="customerName" value="{{customerName}}"></td>-->
<!--<td align="center">{{city}}</td>-->
<!--<td align="center">{{country}}</td>-->
<!--<td align="center">{{creditLimit}}</td>-->
<!--<td align="center">{{salesRepEmployeeNumber}}</td>-->
<!--<td align="left"><input type="submit" value="Update"/></td>-->
<!--</form>-->
<!--</tr>-->
        <!--{{/each}}-->
<!--</table>-->
<table>
    <tr>
        <td><a href="{{prevPage}}">Previous Page</a></td>
        <td>Current Page: {{currentPage}}</td>
        <td><a href="{{nextPage}}">Next Page</a></td>
    </tr>
</table>