<html>
<head>
    <title>lab131.com classicmodels demo</title>
</head>
<body>
<h3>Did you program her to flirt with me?</h3><br>
<a href="{{baseurl}}/customers">View Customers</a><br>
<a href="{{baseurl}}/hal-browser/browser.html">HAL Browser</a><br>
</body>
</html>