<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-controller="MainCtrl">
<form id="myForm" name="myForm" ng-submit="submit(myForm)" novalidate>
    <input ng-model="input" type="text" name="name" ng-blur="update()" required>
    <button type="submit">Submit</button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script type="text/javascript">
    angular.module('app', [])
        .controller('MainCtrl', function($scope) {
            $scope.input = 'Default Text!'

            $scope.update = function() {
                $scope.input = 'I just updated the input';
            };

            $scope.submit = function(form) {
                if (form.$valid) {
                    $scope.input = 'I just submit the valid form.';
                }
            };
        })
        .directive('setTitle', function($interval) {
            return {
                restrict: 'A',
                link: function($scope, $element) {
                    var toggle = true;
                    $interval(function() {
                        if (toggle) {
                            $element.text('Chad');
                        } else {
                            $element.text('Jorgenson');
                        }
                        toggle = !toggle;
                    }, 5000);
                }
            }
        });
</script>
</body>
</html>